{% extends 'app1/base.html' %}

{% block content %}

<header class="bg-green-500 text-white py-6 shadow-md">
    <div class="container mx-auto">
        <h1 class="text-center text-3xl font-bold">
            ADD MEDICINE
        </h1>
    </div>
</header>

{% if messages %} 
    {% for message in messages %} 
    <div class="{{ message.tags }} bg-red-500 text-white font-bold py-2 px-4 rounded mt-5 text-center">
        {{ message }}
    </div> 
    {% endfor %}
{% endif %}

<div class="mt-5 border p-5 rounded-xl shadow-xl">
    <form method="POST" action="">
        {% csrf_token %}

        <!-- fields -->
        {% for field in form %}
        <div class="flex justify-between mb-4 mx-72">
            <label for="{{ field.id_for_label }}" class="font-bold">
                {{ field.label }}
            </label>
            
            <div class="ml-5 text-right">
                {{ field }}
                {% if field.errors %}
                    <div class="text-red-500 text-sm mt-1">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- submit and cancel button -->
        <div class="flex pt-5 justify-center space-x-4">
            <input type="submit" value="Submit" class="bg-green-500 text-white font-bold py-2 px-4 rounded">
            <a href="{% url 'barangay-medicine-inventory' %}" class="bg-red-500 text-white font-bold py-2 px-4 rounded text-center">Cancel</a>
        </div>
    </form>
</div>

{% endblock content %}