{% extends 'app1/base.html' %}
{% load static %}

{% block content %}
    <!-- header -->
    <a href="{% url 'document-request-history' %}">
        <h1 class="text-center font-bold text-3xl p-5">DOCUMENT REQUEST HISTORY</h1>
    </a>
    
    <div class="flex justify-between mt-5 mb-5">
        <div>
            <a href="{% url 'document-request' %}">
                <div class="bg-green-500 text-white font-bold py-2 px-4 rounded">
                    Request Document
                </div>
            </a>
        </div>
        
        <!-- search bar -->
        <!-- <div>
            <form method="GET" action="{% url 'barangay-residents' %}">
                <input class="" type="text" name="q" placeholder="Search Resident...">
            </form>
        </div> -->
    </div>
    
    <!-- resident list -->
    <div class="pt-5 border p-5 rounded-xl shadow-md">
        <div class="grid grid-cols-4 mb-5 font-bold border-b border-gray-300 pb-3">
            <div>Date Requested</div>
            <div>Resident Name</div>
            <div>Document</div>
            <div>Purpose</div>
            <!-- <div class="text-center">Actions</div> -->
        </div>
        
        <div class="grid grid-cols-4 resident-grid gap-y-4">
            {% for request in document_requests %}
            <div>{{ request.request_date }}</div>
            <div>{{ request.resident.last_name|title }}, {{ request.resident.first_name|title }} {{ request.resident.middle_name|title }}</div>
            <div>{{ request.document_name }}</div>
            <div>{{ request.purpose }}</div>
            <!-- <div class="grid grid-cols-2">
                <a href="#">
                    <div class="bg-blue-500 text-white m-0.5 p-3 font-semibold rounded" align="center">
                        <img src="{% static '/images/update.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="bg-red-500 text-white m-0.5 p-3 font-semibold rounded" align="center">
                        <img src="{% static '/images/bin.png' %}" alt="">
                    </div>
                </a>
            </div> -->
            {% endfor %}
        </div>
    </div>

    <!-- scripts -->
    <!-- {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                alert("{{ message|escapejs }}");
            {% endfor %}
        });
    </script>
    {% endif %} -->

{% endblock content %}