{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-blue-500 via-blue-300 to-blue-500">
        <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-md">
            <!-- Logo -->
            <div class="mb-5">
                <img src="{% static '/images/barangay-cambaro-logo-1.png' %}" alt="Barangay Cambaro Logo" class="w-32 mx-auto bg-white p-2 rounded">
            </div>
    
            <!-- Login Form -->
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="username" class="block text-gray-700">Username</label>
                    <input type="text" id="username" name="username" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" placeholder="Username" required>
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700">Password</label>
                    <input type="password" id="password" name="password" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" placeholder="Password" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>